<div class="panel-body" style="height: 220px;">
  <div class="mzf_updateInfo">
    <p>更新日志:</p>
    <ul>
      <li>
        <p>新增 "<span style="color: red;">极速生成</span>"*beta 功能, 可在设置页开启</p>
        <p>(秒传输入框输入set进入设置页)</p>
        <ul>
          </br>
          <li>"极速生成" 优点:
            <ul>
              <li>极大幅度提高秒传生成速度</li>
              <li>有效避免 "md5获取失败(#996)" "接口限制访问(#403)"</li>
            </ul>
          </li>
          </br>
          <li>"极速生成" 缺点:
            <ul>
              <li>生成的秒传格式为简化版, 只保证最新版的 秒传脚本 和 秒传网页版 支持转存</li>
              <li>生成和谐文件秒传时大概率正常生成 (非极速生成则会报错#1919)</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    </br>
    <p>* 感谢某位热心网友的帮助</p>
    </br>
    <p>关联:</p>
    <ul>
      <li>
        <a href="https://afdian.net/@mengzonefire" class="mzf_link" rel="noopener noreferrer" target="_blank">赞助页</a>
        <a href="https://greasyfork.org/zh-CN/scripts/424574" class="mzf_link" rel="noopener noreferrer"
          target="_blank">反馈页</a>
      </li>
      <li>秒传文档: <a href="https://mengzonefire.code.misakanet.cn/rapid-upload-userscript-doc" class="mzf_link"
          rel="noopener noreferrer" target="_blank">载点1</a>
        <a href="https://xtsat.github.io/rapid-upload-userscript-doc" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点2</a>
      </li>
      <li>脚本更新历史: <a href="https://mengzonefire.code.misakanet.cn/rapid-upload-userscript-doc/development/脚本更新日志"
          class="mzf_link" rel="noopener noreferrer" target="_blank">载点1</a>
        <a href="https://xtsat.github.io/rapid-upload-userscript-doc/development/脚本更新日志" class="mzf_link"
          rel="noopener noreferrer" target="_blank">载点2</a>
      </li>
      <li>秒传网页版工具: <a href="https://rapidacg.gmgard.moe/" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点1</a>
        <a href="https://mengzonefire.github.io/baidupan-rapidupload" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点2</a>
        <a href="https://mengzonefire.code.misakanet.cn/baidupan-rapidupload" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点3</a>
      </li>
      <li>项目源码: <a href="https://github.com/mengzonefire/rapid-upload-userscript" class="mzf_link"
          rel="noopener noreferrer" target="_blank">秒传脚本</a>
        <a href="https://github.com/XTsat/rapid-upload-userscript-doc" class="mzf_link" rel="noopener noreferrer"
          target="_blank">秒传文档</a>
        <a href="https://github.com/mengzonefire/baidupan-rapidupload" class="mzf_link" rel="noopener noreferrer"
          target="_blank">秒传网页版工具</a>
      </li>
    </ul>
  </div>
</div>