<div class="panel-body" style="height: 220px;">
  <div class="mzf_updateInfo">
    <p>更新日志:</p>
    <ul>
      <li>完成了新脚本: <a href="https://greasyfork.org/zh-CN/scripts/459862" class="mzf_link" rel="noopener noreferrer"
        target="_blank">秒传链接提取Ultra</a>, 安装后无需打开网盘主页即可直接转存页面上的秒传链接</li>
      <li>生成秒传时, 导出路径改为相对路径, 防止路径过长</li>
    </ul>
    </br>
    <ul>
      <li>关联: <a href="https://afdian.net/@mengzonefire" class="mzf_link" rel="noopener noreferrer"
          target="_blank">赞助页</a>
        <a href="https://greasyfork.org/zh-CN/scripts/424574" class="mzf_link" rel="noopener noreferrer"
          target="_blank">反馈页</a>
      </li>
      <li>秒传文档: <a href="https://mengzonefire.code.misakanet.cn/rapid-upload-userscript-doc" class="mzf_link"
          rel="noopener noreferrer" target="_blank">载点1</a>
        <a href="https://xtsat.github.io/rapid-upload-userscript-doc" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点2</a>
      </li>
      <li>脚本更新历史: <a href="https://mengzonefire.code.misakanet.cn/rapid-upload-userscript-doc/development/脚本更新日志"
          class="mzf_link" rel="noopener noreferrer" target="_blank">载点1</a>
        <a href="https://xtsat.github.io/rapid-upload-userscript-doc/development/脚本更新日志" class="mzf_link"
          rel="noopener noreferrer" target="_blank">载点2</a>
      </li>
      <li>秒传网页版工具: <a href="https://rapidacg.gmgard.moe/" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点1</a>
        <a href="https://mengzonefire.github.io/baidupan-rapidupload" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点2</a>
        <a href="https://mengzonefire.code.misakanet.cn/baidupan-rapidupload" class="mzf_link" rel="noopener noreferrer"
          target="_blank">载点3</a>
      </li>
      <li>项目源码: <a href="https://github.com/mengzonefire/rapid-upload-userscript" class="mzf_link"
          rel="noopener noreferrer" target="_blank">秒传脚本</a>
        <a href="https://github.com/XTsat/rapid-upload-userscript-doc" class="mzf_link" rel="noopener noreferrer"
          target="_blank">秒传文档</a>
        <a href="https://github.com/mengzonefire/baidupan-rapidupload" class="mzf_link" rel="noopener noreferrer"
          target="_blank">秒传网页版工具</a>
      </li>
    </ul>
  </div>
</div>