/*按钮样式*/
.mzf_btn {
  text-align: center;
  font-size: 0.85em;
  color: #09aaff;
  border: 2px solid #c3eaff;
  border-radius: 4px;
  margin: 0 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

/*超链接样式*/
.mzf_link {
  font-family: inherit;
  color: #09aaff;
  text-decoration: none;
  vertical-align: baseline;
}

/*行样式*/
.mzf_text {
  font-feature-settings: "lnum";
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  color: #545454;
  font-weight: 400;
  word-break: break-word;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 34px;
  display: block;
  line-height: 34px;
  text-align: center;
}

/*新版度盘页面的按钮样式(直接拷贝)*/
.mzf_new_btn {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  font: inherit;
  overflow: visible;
  text-transform: none;
  font-family: SFUIText, PingFangSC-Regular, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  color: #fff;
  background-color: #06a7ff;
  font-weight: 700;
  padding: 8px 24px;
  height: 32px;
  font-size: 14px;
  border-radius: 16px;
  border: none;
}

/*折叠框箭头样式*/
svg {
  margin-right: 5px;
  transform: rotate(180deg);
  transition: transform 0.2s;
  fill: none;
  stroke: gray;
}

/*折叠框*/
.mzf_details {
  cursor: pointer;
}

/*折叠框内容*/
.mzf_content {
  max-height: 0;
  margin: 0;
  transition: max-height 0.5s;
  overflow: hidden;
}

/*折叠框动画*/
.mzf_details[open] {
  > summary > svg {
    transform: rotate(0deg);
  }
  + .mzf_content {
    max-height: 100%;
  }
}

/*html容器样式*/
.mzf_html_container {
  grid-template-columns: minmax(0, 100%);
  align-self: center;
  justify-self: center;
  width: 32em;
  max-width: 100%;
}
