/*按钮样式*/
.mzf_btn {
  text-align: center;
  font-size: 0.85em;
  color: #09aaff;
  border: 2px solid #c3eaff;
  border-radius: 4px;
  margin: 0 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*超链接样式*/
.mzf_link {
  font-family: inherit;
  color: #09aaff;
  text-decoration: none;
}

/*文本样式*/
.mzf_text {
  color: #545454;
  font-size: 1.125em;
  font-weight: 400;
  word-break: break-word;
  margin: 0;
  padding: 0;
  height: 34px;
  display: block;
  line-height: 34px;
  text-align: center;
}
